body {
    background-color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    align-items: center;
    /* height: 100vh; */
    height: calc(100vh - 50px);
    background-color: #333;
  }
  
  /* Heading Styles */
  .heading, .heading-static, .heading-dynamic {
    color: #fff;
    font-size: 4vw;  /* Use viewport width for responsive font size */
  }
  
  .heading {
    grid-column: 1;
    justify-self: end;
    margin-right: 50px;
  }
  
  .heading-static, .heading-dynamic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .heading-static {
    left: 5%;  /* Use percentage for responsive positioning */
  }
  
  .heading-dynamic {
    left: 16%;  /* Use percentage for responsive positioning */
  }
  
  /* Center Container Styles */
  .center-container {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }


  .get-started {
    margin-left: -20px;
    margin-top: -150px;
  }
  
  .vertical-line {
    grid-column: 2;
    width: 2px;
    height: 50%;
    background-color: whitesmoke;
  }
  
  .neumorphic {
    border-radius: 1rem;
    background: #e0e0e0;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
   
    
  }

  .neumorphic:first-child {
    margin-right: 50px;  /* Add some space to the right of the first button */
  }
  
  .neumorphic a {
    text-decoration: none;
    color: #333;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
  }
  
  /* Typing Animation Styles */
  .typing {
    color: #fff;
    font-weight: normal;
  }
  
  .cursor {
    border-left: 2px solid #fff;
    width: 0;
    height: 1em;
    margin-left: 2px;
    animation: blink-animation 0.7s steps(1, start) infinite;
  }
  
  @keyframes blink-animation {
    50% {
      border-color: transparent;
    }
  }


  .get-started {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
  }


  footer {
    position: fixed;  /* Fix position */
    bottom: 0;  /* Set to bottom */
    width: 100%;  /* Full width */
    text-align: center;
    color: #fff;
    background-color: #333;  /* Same as body background */
  }
  
  