body, html, #root {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

}
  
/* .app-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 4px solid red;

} */
.email-container {
  flex: 1; /* Takes up all remaining space */
  background-color: white; /* Or any color you prefer */
  border: 4px solid green;
}

.search-bar-container {
  width: 100%;
  height: 40px;
  border: 4px solid purple;
}


.app-container, .left-sideBar, .email-container {
  height: 100%;
}


.app-container {
  display: flex;
}
.email-container {
  flex-grow: 1;
}




