/* Container */
.new-email-form-container {
    width: 600px;
    height: 800px;
    /* background-color: #1c1c1c;  */
    /* border-radius: 12px; */
    box-shadow: 8px 8px 16px #0a0a0a, -8px -8px 16px #2e2e2e; /* neumorphism */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px; */
    font-family: 'Söhne Mono', 'Courier New', monospace; /* typewriter font */
    margin-left: 10%;
    margin-top: 5%;
    background-color: black;
    padding: 20px;
  }
  
  /* Dividers */
  .divider {
    height: 1px;
    width: 80%;  /* not extending all the way across */
    background-color: white;
    margin: 20px 0;
  }
  
  /* Input fields */
  input, textarea {
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* The form itself */
  .new-email-form {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
  }
  

  .black-input-field {
    background-color: black !important;
    color: white !important;
    border: none;
  }
  
  .black-input-field::placeholder {
    color: #ccc;
  }
  

.new_email_body {
    flex-grow: 1;
}

textarea {
    height: 100%;
}


.new-email-to input,
.new-email-subject input {
  background-color: black;
  color: white;
  border: none;
}

.dotted-line {
    border-bottom: 1px dotted white; /* Change 'white' to whatever color you prefer */
    margin: 10px 0; /* Add some margin to space it out */
}


.new-email-form-btn button {
    background: #2e2e2e;  /* Same as your primary text color */
    border: 1px solid white; /* A subtle border */
    color: white;  /* Text color */
    padding: 12px 24px;
    font-family: 'Courier New', Courier, monospace;  /* A typewriter-like font */
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    cursor: pointer;
    transition: all 0.3s ease;
    
}
  
.new-email-form-btn button:hover {
background: white;  /* Inverted colors on hover */
color: #61677A;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  

.vertical-line {
position: absolute; /* or 'fixed' depending on your needs */
left: 50%; /* centers the line */
top: 10%; /* starts the line 10% from the top */
height: 80%; /* ends the line 10% from the bottom */
width: 1px; /* width of the line */
background-color: white; /* color of the line */
z-index: 1; /* so that it appears above other elements */
}


.exit-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px;
  }
  
  .exit-icon {
    font-size: 24px;
    color: white;
    padding-right: 10px;  /* Some space between the icon and the text */
    transition: color 0.3s ease;
  }
  
  .exit-text {
    font-family: Helvetica;
    color: white;
    margin: 0;  /* Remove default paragraph margins */
  }
  
  .exit-wrapper:hover .exit-icon,
  .exit-wrapper:hover .exit-text {
    color: #61677A;
  }

  .new-email-form-btn {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the end (right side) */
    width: 100%; /* Takes up full width */
  }
  
  

