/* Container */
.new-email-form-container {
    width: 600px;
    height: 800px;
    /* background-color: #1c1c1c;  */
    /* border-radius: 12px; */
    box-shadow: 8px 8px 16px #0a0a0a, -8px -8px 16px #2e2e2e; /* neumorphism */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px; */
    font-family: 'Courier New', monospace; /* typewriter font */
    margin-left: 15%;
    margin-top: 7%;
  }
  
  /* Dividers */
  .divider {
    height: 1px;
    width: 80%;  /* not extending all the way across */
    background-color: white;
    margin: 20px 0;
  }
  
  /* Input fields */
  input, textarea {
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* The form itself */
  .new-email-form {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
  }
  

  .black-input-field {
    background-color: black !important;
    color: white !important;
    border: none;
  }
  
  .black-input-field::placeholder {
    color: #ccc;
  }
  

.new_email_body {
    flex-grow: 1;
}

textarea {
    height: 100%;
}


.new-email-to input,
.new-email-subject input {
  background-color: black;
  color: white;
  border: none;
}

